.about {
  /* margin: auto 100px; */
  margin: 0 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-left: 50px;
}
.about_title {
  font-size: 56px;
  max-width: 700px;
  width: 100%;
  background-position: 70% 15%;
}

.about_description_title {
  font-family: 'Zen Dots', sans-serif;
  font-size: 30px;
}

.about_title,
.about_description_title,
.about_description_link {
  font-family: 'Zen Dots', sans-serif;
  background-image: url('./../../assets/images/creative-light.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00000000;
}

.about_description_title {
  font-size: 30px;
  background-position: 70% 55%;
}

.about_description_container {
  background-color: #1b1b1b;
  color: white;
  max-width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  padding: 20px;
}

.about_description_container_languages {
  font-family: 'Righteous', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 30px;
}

.about_description_container_languages span {
  display: flex;
  gap: 0.5rem;
}

.about_description_container_languages span p {
  margin: 0;
}

.about_description_details,
.about_description_link {
  font-family: 'Righteous', sans-serif;
}

.about_description_details {
  font-size: 20px;
  max-width: 600px;
  width: 100%;
}

.about_description_link {
  font-size: 28px;
  background-position: 70% 65%;
  text-align: center;
  margin-top: 50px;
  transition: all 0.5s ease-in-out;
  border: 2px solid black;
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
  align-self: center;
}

.about_description_link:hover {
  background-position: 10% 45%;
}

.language-logo {
  width: 20px;
}

.bg-logo {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  max-width: 50%;
  object-fit: contain;
  right: 0;
  opacity: 13%;
}

@media (max-width: 900px) {
  .about {
    padding: 0;
  }

  .about_title {
    font-size: 43px;
  }

  .about_description_title {
    font-size: 25px;
  }

  .about_description_details {
    font-size: 15px;
  }

  .about_description_container {
    max-width: 70%;
  }
}

@media (max-width: 700px) {
  .about {
    margin: 0 30px;
    gap: 4rem;
  }

  .about_title {
    font-size: 38px;
    text-align: center;
  }

  .about_description_title {
    font-size: 20px;
  }

  .about_description_container {
    font-size: 13px;
    max-width: 80%;
  }

  .language-logo {
    width: 15px;
  }
}

@media (max-width: 500px) {
  .about {
    margin: 0 20px;
  }

  .about_title {
    font-size: 30px;
  }

  .about_description_title {
    font-size: 20px;
  }

  .about_description_container {
    font-size: 13px;
    max-width: 100%;
  }

  .language-logo {
    width: 15px;
  }
}

@media (max-width: 400px) {
  .about_title {
    font-size: 22px;
  }

  .about_description_title {
    font-size: 17px;
  }

  .about_description_container {
    font-size: 12px;
    max-width: 100%;
  }

  .language-logo {
    width: 13px;
  }

  .about_description_details {
    font-size: 13px;
  }

  .about_description_link {
    font-size: 20px;
  }

  .cssbuttons-io-button {
    height: 40px !important;
    font-size: 15px !important;
  }
  .cssbuttons-io-button a {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 300px) {
  .about_title {
    font-size: 20px;
  }

  .about_description_title {
    font-size: 15px;
  }

  .about_description_container {
    font-size: 11px;
    max-width: 100%;
  }

  .language-logo {
    width: 15px;
  }

  .about_description_details {
    font-size: 11px;
  }

  .about_description_link {
    font-size: 20px;
  }
}

/* BUTTON */
.cssbuttons-io-button {
  max-width: 250px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 20px;
  height: 50px;
  align-self: center;
  background-image: url('./../../assets/images/creative-light.jpg');
  background-position: 50% 55%;
  background-size: cover;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-family: 'Righteous', sans-serif;
  border-radius: 10em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-right: 3.3em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  /* box-shadow: 0 0 1.6em rgba(183, 33, 255, 0.3),
    0 0 1.6em hsla(191, 98%, 56%, 0.3); */
  filter: drop-shadow(2px 4px 6px black);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cssbuttons-io-button a {
  text-decoration: none;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  /* top: 0; */
  display: flex;
  align-items: center;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 10em;
  right: 0.3em;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #b721ff;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.9);
}
