body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards {
  gap: 2rem;
  padding: 20px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact {
  max-width: 600px;
  width: 100%;
  flex: 1;
  align-self: center;
  align-content: center;
}

.validation-message {
  display: none;
}

@media (max-width: 700px) {
  .networks {
    opacity: 0;
  }

  .cards {
    padding: 20px 20px;
  }
}
